* {
    border: none;
    border-radius: 8px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0,0,0,0);
    color: #e5eaf0;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @theme_text_color;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #d8dee8;
}

#workspaces button.focused {
    background-color: @theme_base_color;
    box-shadow: inset 0 -3px #d8dee8;
}

#workspaces button.urgent {
    background-color: @theme_base_color;
}

#mode {
    background-color: @theme_base_color;
    border-bottom: 3px solid #d8dee8;
}

#mpris,
#custom-screenshot,
#custom-wf_recorder,
#custom-weather,
#custom-exit,
#custom-notification,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: @theme_text_color;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #cf876f;
    color: #2e3440;
    border-radius: 26px;
}

#battery {
    background-color: #b38ead;
    color: #2e3440;
    border-radius: 26px;
}

#battery.charging {
    color: #2e3440;
    background-color: #a3bd8d;
    border-radius: 26px;
}

@keyframes blink {
    to {
        background-color: @theme_base_color;
        color: #e7db75;
    }
}

#battery.critical:not(.charging) {
    background-color: #be616b;
    color: #2e3440;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 26px;
}

label:focus {
    background-color: #48483e;
}

#cpu {
    color: #2e3440;
    background-color: #80a1c0;
}

#memory {
    color: #2e3440;
    background-color: #b38ead;
    border-radius: 26px;
}

#backlight {
    color: #2e3440;
    background-color: #cf876f;
    border-radius: 26px;
}

#network {
    color: #2e3440;
    background-color: #a3bd8d;
    border-radius: 26px;
}

#network.disconnected {
    color: #2e3440;
    background-color: #be616b;
    border-radius: 26px;
}

#pulseaudio {
    background-color: #eacb8b;
    color: #2e3440;
    border-radius: 26px;
}

#pulseaudio.muted {
    color: #2e3440;
    background-color: #be616b;
    border-radius: 26px;
}

#temperature {
    background-color: #a3bd8d;
    color: #2e3440;
    border-radius: 26px;
}

#temperature.critical {
    background-color: #be616b;
    color: #2e3440;
    border-radius: 26px;
}

#tray {
    background-color: #434b5e;
    color: #2e3440;
    border-radius: 26px;
}

#taskbar button {
    background: transparent;
    color: #e5eaf0;
    border-radius: 26px;
}
#taskbar button:hover {
    background-color: #434b5e;
    color: #2e3440;
    border-radius: 26px;
}

#taskbar button.active {
    background: #8fbbba;
    color: #2f343f;
    border-radius: 26px;
}

#custom-menu {
    background: #a3bd8d;
    color: #2f343f;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 26px;
}

#custom-wf_recorder {
    background: #be616b;
    color: #2f343f;
    border-radius: 26px;
}

#custom-screenshot {
    background: #b38ead;
    color: #2f343f;
    border-radius: 26px;
}

#custom-notification {
    background: #80a1c0;
    color: #2f343f;
    border-radius: 26px;
}

#custom-clock {
    background: #eacb8b;
    color: #2f343f;
    padding: 0 10px;
    border-radius: 26px;
}

#custom-exit {
    background: #be616b;
    color: #2f343f;
    border-radius: 26px;
}

#custom-weather {
    background: #80a1c0;
    color: #2f343f;
    border-radius: 26px;
}
